<a href="https://colab.research.google.com/github/jhportfolio1/SelfStudy-Python/blob/main/Python1_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 자료형

## 1) 숫자 자료형

- 숫자 자형은 정수형, 실수형 등이 있고, 별도 표시 없이 () 안에 숫자 넣으면 출력됨

In [2]:
print(-10)
print(3.14)
print(1000)

-10
3.14
1000

## 2) 문자열 자료형

- 문자를 '', "" 사이에 넣으면 문자열로 인식하고 출력됨
- 문자열에서 작은따옴표''와 큰따옴표""의 차이는 없음

In [5]:
print('풍선')
print("나비")
print("abc")

풍선
나비
abc

## 3) 불 자료형

- 참(True)와 거짓(False)를 판별함
- not이라는 연산자를 통해 반대값을 도출할 수도 있음

In [6]:
print(5>10)
print(5<10)
print(not True)
print(not False)

False
True
False
True



---



---

# 2. 변수

## 1) 변수 정의하기

- 변수 정의하기 : 변수명=값
- 변수는 소문자, 대문자를 구분하여 apple, Apple, ApPle 모두 다른 변수임
- 변수는 숫자로 시작할 수 없음

## 2) 변수 사용하기

- 파이썬에서 사용이 예약된 문자열(키워드)는 변수명으로 사용할 수 없음
- 문자열과 변수를 연결할 때 (+)를 사용한다면 모든 변수를 같은 형태(문자형 or 숫자형)으로 맞춰주고, (,)를 사용한다면 그냥 쓰면 된다.

In [14]:
print("반려동물을 소개해주세요.")
print("우리 집 반려동물은 " + animal + "인데, 이름은 " + name + "이에요.")
print(name+ "는" + str(age) + "살이고" + hobby + "을 아주 좋아해요.")

반려동물을 소개해주세요.
우리 집 반려동물은 강아지인데, 이름은 두부이에요.
두부는9살이고산책을 아주 좋아해요.

In [15]:
print("반려동물을 소개해주세요.")
print("우리 집 반려동물은 ", animal, "인데, 이름은 ", name, "이에요.")
print(name+ "는", age,  "살이고", hobby, "을 아주 좋아해요.")

반려동물을 소개해주세요.
우리 집 반려동물은  강아지 인데, 이름은  두부 이에요.
두부는 9 살이고 산책 을 아주 좋아해요.

## 3) 형변환하기

- 문자형으로 변환 : str()

In [16]:
print(str(3) + "입니다.")
print(str(3.5) + "입니다.")

3입니다.
3.5입니다.

- 정수형으로 변환 : int()

In [17]:
print(int("3"))
print(int(3.5))

3
3

- 실수형으로 변환 : float()

In [18]:
print(float("3.5"))
print(float(3))

3.5
3.0

## 4) 변수를 사용할 때 주의점

- 변수 타입 확인 : ytpe()
- 변수는 사용하기 전에 정의한다.
- 변수는 사용하기 전에 마지막으로 저장한 값을 사용한다.

----

# 3. 주석

- 주석처리는 문장 앞에 #을 붙이면 된다.
- 긴 문장은 앞뒤로 따옴표 3개씩 붙이면 된다. '''-----'''

In [23]:
#print("반려동물을 소개해주세요.")
''' 오늘 우리가 배워볼 것은 파이썬입니다. 재미있겠지요? 저도 그렇게 생각합니다. '''

' 오늘 우리가 배워볼 것은 파이썬입니다. 재미있겠지요? 저도 그렇게 생각합니다. '

---

#4. 연습문제

## 1) 역 이름 출력하기

### (1) 문제 : 변수를 사용해 다음 문장을 출력하세요.
### (2) 조건
- 변수명은 station으로 한다.
- 값은 변수에 '사당, 신도림, 인천공항' 순으로 저장한다.
- 실행결과는 다음과 같은 형태로 나와야 한다.

### (3) 실행결과
- 변수에 사당 넣었을 때 : 사당행 열차가 들어오고 있습니다.

## 2) 배송상태 안내프로그램
### (1) 문제 : 변수를 사용해 택배 배송 상태 안내 프로그램 작성하세요.
### (2) 조건
- 변수명은 status 로 한다.
- 값은 변수에 '상품준비, 배송중, 배송완료' 순으로 저장한다.
- 실행결과는 다음과 같은 형태로 나와야 한다.

### (3) 결과
- 변수에 '상품준비' 넣었을 때 -> 주문상태 : 상품준비
- 변수에 '배송 중' 넣었을 때 -> 주문상태 : 배송 중 
- 변수에 '배송 완료' 넣었을 때 -> 주문상태 : 배송 완료