<a href="https://colab.research.google.com/github/jhportfolio1/SelfStudy-Python/blob/main/Python4_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 리스트

## 1) 리스트 생성하기

- 리스트명 = [값1, 값2, ...]
- 빈 리스트 : empty_list = []

In [1]:
subway = [1,2,3]
print(subway)

[1, 2, 3]

## 2) 값 추가/삽입/삭제하기

- 값 위치 확인하기

In [3]:
subway = ["1호선", "2호선", "3호선"]
print(subway.index("2호선"))

1

- 값 추가하기(append)

In [4]:
subway.append("4호선")
print(subway)

['1호선', '2호선', '3호선', '4호선']

- 값 추가하기(insert)

In [5]:
subway.insert(4, "5호선")
print(subway)

['1호선', '2호선', '3호선', '4호선', '5호선']

- 값 삭제하기(pop) : 맨뒤 인덱스부터 순차적으로 빠짐

In [6]:
print(subway.pop())
print(subway)

5호선
['1호선', '2호선', '3호선', '4호선']

In [7]:
print(subway.pop())
print(subway)

4호선
['1호선', '2호선', '3호선']

In [8]:
print(subway.pop())
print(subway)

3호선
['1호선', '2호선']

In [9]:
print(subway.pop())
print(subway)

2호선
['1호선']

- 값 전체삭제

In [10]:
subway.clear()
print(subway)

[]

## 3) 중복 값 확인하기

- count 함수로 확인

In [12]:
subway = ["1호선", "2호선", "3호선"]
subway.append("1호선")

print(subway.count("1호선"))

2

## 4) 리스트 정렬하기

- 오름차순 정리 : list.sort()

In [14]:
num_list = [1,2,3,4,5,6,7]
num_list.sort()
print(num_list)

[1, 2, 3, 4, 5, 6, 7]

- 내림차순 정리 : list.sort(reverse=True)

In [16]:
num_list = [1,2,3,4,5,6,7]
num_list.sort(reverse=True)
print(num_list)

[7, 6, 5, 4, 3, 2, 1]

- 순서 뒤집기 : list.reverse()

In [19]:
num_list = [1, 11, 87, 21, 57]
num_list.reverse()
print(num_list)

[57, 21, 87, 11, 1]

## 5) 리스트 확장하기

- 리스트 안에 정수, 실수, 문자, 불형(참거짓) 들어감
- 리스트끼리 합치기 가능

In [21]:
mix_list = ["박지혜", 30, 1.7, True, [1,2,3,4,5]]
print(mix_list)

['박지혜', 30, 1.7, True, [1, 2, 3, 4, 5]]

# 2. 딕셔너리

## 1) 딕셔너리 생성하기

- 딕셔너리명 = {키1:값1, 키2:값2, ..}
- 키 : 중복허용하지 않음 / 정수형, 문자형 모두 가능함
- 빈 딕셔너리 : empty_dic=[ ]

In [23]:
cabinet = {3: "푸", 100:"피글렛"}

print(cabinet[3])
print(cabinet[100])

푸
피글렛

- 딕셔너리 안에 값이 있는지 참거짓으로 확인 가능

In [24]:
print(3 in cabinet)
print(5 in cabinet)

True
False

## 2) 값 변경/추가/삭제하기

In [25]:
cabinet = {1:"푸", 2:"피글렛"}
print(cabinet)

{1: '푸', 2: '피글렛'}

- 값 변경

In [26]:
cabinet[1] = "티거"
print(cabinet)

{1: '티거', 2: '피글렛'}

- 값 추가

In [27]:
cabinet[3] = "두부"
print(cabinet)

{1: '티거', 2: '피글렛', 3: '두부'}

- 값 삭제

In [28]:
del cabinet[2]
print(cabinet)

{1: '티거', 3: '두부'}

## 3) 값 확인하기

- 키만 확인하고 싶을때 : keys()

In [29]:
print(cabinet.keys())

dict_keys([1, 3])

-  값만 확인하고 싶을 때 : values()

In [30]:
print(cabinet.values())

dict_values(['티거', '두부'])

- 키, 값 쌍으로 확인하고 싶을 때 : items()

In [32]:
print(cabinet.items())

dict_items([(1, '티거'), (3, '두부')])

# 3. 튜플

- 튜플명 = (값1, 값2, ...)
- 리스트의 읽기용 버전
- 처음 정의할 때 외에, 값의 변경/추가/삭제 불가

In [34]:
pet = ("두부", "뽀")
print(pet[0])
print(pet[1])

두부
뽀

- 튜플 형태로 한 줄에 여러 변수 값 정의하기

In [35]:
(name, age, hobby) = ("두부", 9, "산책")
print(name, age, hobby)

두부 9 산책

# 4. 세트

- 세트명 = {값1, 값2, ...}
- 데이터 순서 보장하지 않음
- 데이터 중복 불가

- 데이터 추가(add), 데이터 삭제(remove)

In [40]:
my_menu = {"떡볶이", "순대", "곱창", "피자", "위스키"}
your_menu = {"순대", "파스타", "피자", "맥주", "소주"}

- 합집합 (| / union)

In [47]:
print(my_menu | your_menu)

{'떡볶이', '소주', '맥주', '순대', '곱창', '파스타', '피자', '위스키'}

In [48]:
print(my_menu.union(your_menu))

{'떡볶이', '소주', '맥주', '순대', '곱창', '파스타', '피자', '위스키'}

- 교집합(& / intersection)

In [49]:
print(my_menu & your_menu)

{'순대', '피자'}

In [50]:
print(my_menu.intersection( your_menu))

{'순대', '피자'}

- 차집합(- / difference)

In [51]:
print(my_menu - your_menu)

{'위스키', '떡볶이', '곱창'}

In [52]:
print(my_menu.difference( your_menu))

{'위스키', '떡볶이', '곱창'}

# 5. 자료구조 변환하기

- 리스트 → 튜플 → 세트 → 리스트 자유롭게 변환 가능
- 변환할구조명(변수명)

In [53]:
menu = [1,2,3]
print(menu)
print(type(menu))

[1, 2, 3]
<class 'list'>

- 리스트를 튜플로 변환하면, 괄호모양과 타입이 변경됨

In [55]:
menu = tuple(menu)
print(menu, type(menu))

(1, 2, 3) <class 'tuple'>

- 튜플을 세트로 변환하면, 괄호모양과 타입이 변경됨

In [56]:
menu = set(menu)
print(menu, type(menu))

{1, 2, 3} <class 'set'>

# 6. 연습문제

## 1) 당첨자 뽑기 문제
### 문제 : 추첨을 통해 1명 치킨, 3명 커피 쿠폰 주는 추첨 프로그램 개발
### 조건
- 댓글은 20명이 작성했고, 아이디는 1-20까지
- 무작위로 추첨하되 중복은 허용하지 않음 
- random 모듈의 shuffle()과 sample()을 활용함
- 실행결과는 다음과 같이 작성함
> --- 당첨자 발표 ---
> 치킨 당첨자 : 0
> 커피 당첨자 : [0,0,0]
> ---축하합니다.----

## 2) 수강신청 중복과목 없애기
### 문제 : 중복 과목을 없애는 프로그램을 작성하기
### 조건
- 신청 과목은 리스트로 관리된다.
- 리스트에 과목 2번 이상 포함되면 1개만 남기고 나머지 삭제한다.
- 출력시 신청과목 순서 변경해도 된다.

###힌트
- 자료구조는 서로 변환할 수 있다.
- 세트는 중복을 허용하지 않는다.
- 세트는 데이터 순거 보장하지 않아 실행할때마다 순서달라질 수 있다.

###실행결과
- 신청한 과목은 다음과 같습니다.
- ['0', '0', '0']